#title-content{
    height: fit-content;
    padding: 10px;
    background-color: #383EC7;
    color: white;
}
.list-dosen{
    margin-left: 30px;
    width: 100%;
}
label{
    font-size: 20px;
}

input{
    height: 30px;
    width: 92%;
    border-radius: 5px;
    
}
.kembali, .kirim{
    font-size: 15px;
    margin: 15px 5px 0 30px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #383EC7;
    font-weight: 500;
    border: #bfbfbf;
}